body {
  /* background-image: url("https://64.media.tumblr.com/b35a4fe435607aae894443a311942fb3/b8e9437ce928d9a0-78/s500x750/3383d069f7286d1ba1f49c0bf01c19d7d6979228.gifv");*/
  background-image: url("./hacker.gif");
  width: 100%;
  background-size: cover;
}
h1 {
  color: lightskyblue;
  font-family: inconsolata;
}
.pancake {
  width: 70%;
  display: block;
}
h2 {
  color: yellowgreen;
  font-family: inconsolata;
}
h3 {
  color: black;
  font-family: inconsolata;
}
h4 {
  color: black;
  font-family: inconsolata;
}
.vest {
  width: 20%;
}
.boks {
  background-color: lightgray;
  padding: 7px;
}
.reise {
  border: solid 10px plum;
}
